@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif !important;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar-link {
  color: "inherit";
  text-decoration: "none";
  cursor: "pointer";
}

.circular-progressbar {
  width: 25px;
  margin-top: 8px;
}

/* To Hide the caret icon on input type number */
input[type="number"] {
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.rjsf-default-submit {
  display: none !important;
}

/* To show legend in black or inherited color instead of primary color */
legend.Mui-focused {
  color: inherit !important;
}

.MuiPagination-ul li button {
  color: inherit !important;
}

/* To hide the empty menu item */
ul.MuiList-root li.MuiMenuItem-root[data-value=""] {
  display: none !important;
}

.Toastify__toast-icon svg {
  fill: #fff !important;
}
