.ka-thead-background {
  z-index: 1;
  background: #a8a6a6;
  color: white;
}

.ka-tbody .ka-tr {
  border-bottom: 2px solid #ececec;
}

.table-header {
  font-family: "Poppins", sans-serif !important;
  font-size: small;
}

.table-cell {
  font-family: "Poppins", sans-serif !important;
  font-size: small;
}

.ka-table {
  font-family: "Poppins" !important;
}
