.ka-tbody .ka-tr {
  border-bottom: 2px solid #ececec;
}

.ka-thead-cell {
  padding: 15px 20px;
  color: #ffffff;
  background: #8d8c8c;
}

.ka-thead-background {
  z-index: 1;
  background: #a8a6a6;
  color: white;
}
